<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="div-layout.css">
</head>
<body>

    <div class="main">
    <div class="first">
        <div class="f1">
            <h1>hey their its me sabir!</h1>
            <button>SIGN UP</button>
        </div>
        <div class="f2"><img src='https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS-Ps0EvQGWQWBU_B9jWCBWivgJYroZSSIkZg&s' alt=""></div>
    </div>

    <div class="secound">
        
    </div>
        
    <div class="third">
        <div class="t1"></div>
        <div class="t2"></div>
        <div class="t3"></div>
    </div>
    
    <div class="fourth">
        
    </div>

    <div class="fifth">
        
    </div>
    </div>
    
    
</body>
</html>